@model IEnumerable<AddMemberSystem.Models.TB_StaffPunishment>

@{
    ViewData["Title"] = "List";

    Pager pager = new Pager();

    int pageNo = 0;

    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
    }

    var errorMessage = TempData["ErrorMessage"] as string;

}

@if (!string.IsNullOrEmpty(errorMessage))
{
    <div class="alert alert-danger">
        @errorMessage
    </div>
}

<link rel="stylesheet" href="~/Content/css/box_StaffID.css" asp-append-version="true">

<div class="row" style="display: flex; align-items: center;">
    <div class="col-md-10" style="margin-top: -10px;">
        <h1>စီမံရေးရာဌာန ၀န်ထမ်း ပြစ်မှု ပြစ်ဒဏ်များ</h1>
    </div>
    <div class="col-md-2">
        <button class="btn btn-primary" onclick="showForm()">+ တင်သွင်းမည်</button>
    </div>
</div>


<div id="overlay"></div>
<form id="staffForm" method="get" action="@Url.Action("Create", "StaffPunishment")">
    <label for="staffID">သင့်ရဲ့ ၀န်ထမ်းအမှတ် ကို ရိုက်ထည့်ပေးပါ။</label>
    <input type="text" id="staffID" name="staffID" required>
    <button type="submit">တင်သွင်းမည်</button>
</form>

@inject AddMemberSystem.Data.AppDBContext _context


<table class="table">
    <thead>
        <tr>
            <th>စဉ်</th>
            <th>၀န်ထမ်းအမှတ်</th>
            <th> ပြစ်ဒဏ်ဖြစ်သည့် အ‌ကြောင်း</th>
            <th> ပြစ်ဒဏ်ဖြစ်သည့် ရက်စွဲ</th>
            <th>ပြုပြင်ရန်</th>
            <th>ကြည့်ရန်</th>
            <th>ဖျက်ရန်</th>           
        </tr>
    </thead>
    <tbody class="text-center">
        @{
            var counter = (pager.CurrentPage - 1) * pager.PageSize + 1;
        }
@foreach (var item in Model) {
        <tr>
                <td>@(counter++)</td>
                <td>
                    @{
                        var staff = _context.TB_Staffs.FirstOrDefault(s => s.StaffPkid == item.StaffId);
                        var formattedStaffId = staff != null ? staff.StaffID : string.Empty;
                    }
                    @formattedStaffId
                </td>          
            <td>
                @Html.DisplayFor(modelItem => item.Punishment)
            </td>
            <td>
                @item.PunishmentDate?.ToString("yyyy-MM-dd")
            </td>                          
                <td>
                    <a class="btn btn-primary btn-sm" asp-action="Edit" asp-route-id="@item.StaffPunishmentPkid">
                        <i class="fa fa-pencil"></i>
                    </a>
                </td>
                <td>
                    <a class="btn btn-primary btn-sm" asp-action="Details" asp-route-id="@item.StaffPunishmentPkid">
                        <i class="fa fa-info-circle"></i>
                    </a>
                </td>
                <td>
                    <button class="btn btn-danger btn-sm" data-toggle="modal" data-target="@("#deleteModal" + @item.StaffPunishmentPkid)">
                        <i class="fa fa-trash"></i>
                    </button>
                </td>
                <!-- Delete Modal Box -->
                <div class="modal fade" id="@("deleteModal" + @item.StaffPunishmentPkid)" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h3 class="modal-title" id="myModalLabel">အတည်ပြုခြင်း</h3>
                            </div>
                            <div class="modal-body">
                                <h4>ဒီပြစ်မှုမှတ်တမ်းကို ဖျက်ချင်တာသေချာပါသလား</h4>
                            </div>
                            <div class="modal-footer">
                                <form asp-action="Delete">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">ပိတ်မည်</button>
                                    <input type="hidden" name="Id" asp-for="@item.StaffPunishmentPkid" />
                                    <button type="submit" class="btn btn-danger">ဖျက်မည်</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
        </tr>
}
    </tbody>
</table>


<div class="container">
    @if (pager.TotalPages > 0)
    {
        <ul class="pagination justify-content-end">
            @if (pager.CurrentPage > 1)
            {
                <li class="page-item">
                    <a class="page-link" asp-controller="StaffPunishment" asp-action="List" asp-route-pg="1">First</a>
                </li>
                <li>
                    <a class="page-link" asp-controller="StaffPunishment" asp-action="List" asp-route-pg="@(pager.CurrentPage - 1)">Previous</a>
                </li>
            }

            @for (var pge = pager.StartPage; pge <= pager.EndPage; pge++)
            {
                if (pge == 0)
                {
                    continue;
                }
                <li class="page-item @(pge == pager.CurrentPage ? "active" : "")">
                    <a class="page-link" asp-controller="StaffPunishment" asp-action="List" asp-route-pg="@pge">@pge</a>
                </li>
            }

            @if (pager.CurrentPage < pager.TotalPages)
            {
                <li class="page-item">
                    <a class="page-link" asp-controller="StaffPunishment" asp-action="List" asp-route-pg="@(pager.CurrentPage + 1)">Next</a>
                </li>
                <li class="page-item">
                    <a class="page-link" asp-controller="StaffPunishment" asp-action="List" asp-route-pg="@(pager.TotalPages)">Last</a>
                </li>
            }
        </ul>
    }
</div>