@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@model AddMemberSystem.Models.TB_StaffLeave

@{
    ViewData["Title"] = "ခွင့်မှတ်တမ်းတင်ခြင်း";
}

<link rel="stylesheet" href="~/css/general.css">

<div class="row header-container">
    <div class="col-md-12">
        <h1>ခွင့်မှတ်တမ်းတင်ခြင်း</h1>
    </div>
</div>


<form asp-action="Create" enctype="multipart/form-data">
    <input type="hidden" asp-for="StaffLeavePkid" />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="form-group col-sm-12 col-md-12 col-lg-4">
            <label asp-for="StaffID" class="control-label">ဝန်ထမ်းအမှတ်</label>
            <input asp-for="StaffID" class="form-control" id="staffIDInput" value="@ViewData["StaffID"]" readonly />
            <span asp-validation-for="StaffID" class="text-danger"></span>
        </div>
        <div class="form-group col-sm-12 col-md-12 col-lg-4">
            <label asp-for="StaffLeaveName" class="control-label">ဝန်ထမ်းအမည်</label>
            <input class="form-control" value="@ViewBag.StaffName" readonly />
            <span asp-validation-for="StaffLeaveName" class="text-danger"></span>
        </div>
        <div class="form-group col-sm-12 col-md-12 col-lg-4">
            <label asp-for="LeaveAddress" class="control-label">ခွင့်ခံစားစဉ်နေရပ်လိပ်စာ</label>
            <input asp-for="LeaveAddress" class="form-control" />
            <span asp-validation-for="LeaveAddress" class="text-danger"></span>
        </div>
        <div class="form-group col-sm-12 col-md-12 col-lg-4">
            <label asp-for="LeaveTypeId" class="control-label">ခွင့်အမျိုးအစား</label>
            <select asp-for="LeaveTypeId" class="form-control" id="leaveTypeSelect">
                @foreach (var leaveType in ViewBag.LeaveTypes as List<TB_LeaveType>)
                {
                    <option value="@leaveType.LeaveTypePkid" data-leave-days="@leaveType.LeaveDays">@leaveType.LeaveTypeName</option>
                }
            </select>
            <span asp-validation-for="LeaveTypeId" class="text-danger"></span>
        </div>
        <div class="form-group col-sm-12 col-md-12 col-lg-4">
            <label class="control-label">ခွင့်ရက်/ ယူထားသောရက်/ ကျန်ခွင့် </label>
            <div style="display: flex; gap: 10px;">
                <input id="totalLeaveDays" class="form-control" readonly style="width: 70px" />
                <input id="takenLeaveDays" class="form-control" readonly style="width: 70px">
                <input id="remainingLeaveDays" class="form-control" readonly style="width: 70px">
            </div>
        </div>
        <div class="form-group col-sm-12 col-md-12 col-lg-4">
            <label asp-for="CreatedDate" class="control-label">ယနေ့ရက်စွဲ</label>
            <input asp-for="CreatedDate" class="form-control" type="date" />
            <span asp-validation-for="CreatedDate" class="text-danger"></span>
        </div>
        <div class="form-group col-sm-12 col-md-12 col-lg-4">
            <label asp-for="LeaveDateFrom" class="control-label">ခွင့်ယူသည့်ရက်မှ</label>
            <input asp-for="LeaveDateFrom" class="form-control" type="date" />
            <span asp-validation-for="LeaveDateFrom" class="text-danger"></span>
        </div>
        <div class="form-group col-sm-12 col-md-12 col-lg-4">
            <label asp-for="LeaveDateTo" class="control-label">ခွင့်ယူသည့်ရက်ထိ</label>
            <input asp-for="LeaveDateTo" class="form-control" type="date" />
            <span asp-validation-for="LeaveDateTo" class="text-danger"></span>
        </div>
        <div class="form-group col-sm-12 col-md-12 col-lg-4">
            <label asp-for="LeaveDays" for="LeaveDays" class="control-label">ရက်</label>
            <input asp-for="LeaveDays" id="LeaveDays" class="form-control" type="number" readonly value="0" />
            <span asp-validation-for="LeaveDays" class="text-danger"></span>
        </div>
         <div class="form-group col-sm-12 col-md-12 col-lg-4">
            <label class="control-label">ဌာန  </label>
            <input class="form-control" value="@ViewBag.SelectedDepartment" readonly />
        </div>
        <div class="form-group col-sm-12 col-md-12 col-lg-4">
            <label class="control-label">ရာထူး </label>
            <input class="form-control" value="@ViewBag.SelectedPosition" readonly />
        </div>
        <div class="form-group col-sm-12 col-md-12 col-lg-4">
        <label asp-for="DutyAssignedTo" class="control-label">ခွင့်ခံစားစဉ်တာ၀န်ယူမည့်သူ</label>
            <input asp-for="DutyAssignedTo" class="form-control" />
            <span asp-validation-for="DutyAssignedTo" class="text-danger"></span>
        </div>
        <div class="form-group col-sm-12 col-md-12 col-lg-4">
            <label asp-for="DutyAssignPosition" class="control-label">ရာထူး</label>
            <input asp-for="DutyAssignPosition" class="form-control" />
            <span asp-validation-for="DutyAssignPosition" class="text-danger"></span>
        </div>               
        <div class="form-group col-sm-12 col-md-12 col-lg-12">
            <input type="submit" value="သိမ်းမည်" class="btn btn-primary col-md-2" />
        </div>
    </div>
</form>

@section Scripts {
    <script src="~/js/site.js"></script>
    <script>
        const commonUrl = @Json.Serialize(@Configuration.GetSection("AppUrls").GetSection("TestUrl").Value);

        document.getElementById('leaveTypeSelect').addEventListener('change', updateLeaveDays);

        // Function to update total, taken, and remaining leave days
        function updateLeaveDays() {
            var leaveTypeSelect = document.getElementById('leaveTypeSelect');
            var selectedOption = leaveTypeSelect.options[leaveTypeSelect.selectedIndex];
            var totalDays = parseInt(selectedOption.getAttribute('data-leave-days'));
            var staffID = document.getElementById('staffIDInput').value;
            var leaveTypeId = selectedOption.value;

            fetch(commonUrl + `/StaffLeave/GetTakenLeaveDays?staffID=${staffID}&leaveTypeId=${leaveTypeId}`)
                .then(response => response.json())
                .then(data => {
                    // Update using element IDs
                    document.getElementById('totalLeaveDays').value = totalDays;
                    document.getElementById('takenLeaveDays').value = data.takenLeaveDays;
                    document.getElementById('remainingLeaveDays').value = totalDays - data.takenLeaveDays;
                })
                .catch(error => console.error('Error:', error));
        }

        // Initial update on page load
        updateLeaveDays();

        //Calculating Auto LeaveDays for StaffLeave
        document.getElementById('LeaveDateTo').addEventListener('change', calculateLeaveDays);
        document.getElementById('LeaveDateFrom').addEventListener('change', calculateLeaveDays);

        function calculateLeaveDays() {
            const fromDate = new Date(document.getElementById('LeaveDateFrom').value);
            const toDate = new Date(document.getElementById('LeaveDateTo').value);

            if (fromDate && toDate && toDate >= fromDate) {
                const diffTime = Math.abs(toDate - fromDate);
                const leaveDays = Math.ceil(diffTime / (1000 * 60 * 60 * 24)) + 1; 
                document.getElementById('LeaveDays').value = leaveDays;
            } else {
                document.getElementById('LeaveDays').value = 0;
            }
        }


    </script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}




